/* Évite le débordement horizontal */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh; /* Assure que le fond s'étend jusqu'à la hauteur complète de la vue */
    overflow-x: hidden;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #152f66;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex; /* Assure que le body prend tout l'espace vertical */
    flex-direction: column; /* Pour aligner les éléments en colonne */
    min-height: 100vh; /* Assure que le fond couvre au moins la hauteur de la vue */
}


