/* Général */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;  /* Assure que html et body prennent toute la largeur de la fenêtre */
    overflow-x: hidden; /* Évite le débordement horizontal */
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('images/fond.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* BANNER BIBLIOTHEQUE HEADER*/

header{
    background-color: rgba(228, 28, 61, 0.427);;
}
#special-header {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* NARBAR */
.navbar {
    height: auto;
}

.text-decoration-custom {
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
}


.nav-brand-logo {
    font-size: 40px;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.nav-item a {
    color: rgb(250, 250, 250);
}

.nav-item a:hover {
    color: rgba(225, 72, 72, 0.744);
}

.nav-item {
    min-width: 12vw;
}

.nav-spacing {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-nav {
    font-family: "Noticia Text", serif;
    font-weight: 700;
    font-style: normal;
}

/* Personnalisation du bouton hamburger */
.navbar-toggler.custom-toggler {
    border-color: transparent; /* Supprime la bordure du bouton */
}

.navbar-toggler.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Change la couleur du hamburger en blanc */
}
/* FIN NARBAR */

/* BANNER VIDEO HEADER*/
#special-header {
    position: relative;
    height: 70vh;
    overflow: hidden;
}


#logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#logo-container img {
    max-width: 280px;
    max-height: auto;
}
/* FIN BANNER VIDEO*/ 
/* Media queries pour les appareils mobiles */
@media (max-width: 768px) {
    .navbar {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-brand {
        font-size: 28px;
        order: 1;
    }

    .navbar-brand {
        text-align: center;
    }

    .navbar-toggler {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        order: 2;
    }

    .navbar-collapse {
        order: 3;
    }


    .nav-item {
        min-width: auto;
        text-align: center;
    }

    .nav-spacing {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-nav {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    #special-header {
        height: 25vh;
    }

    #logo-container img {
        max-width: 20vh;
        padding-top: 30px;
    }


    .nav-brand-logo {
        font-size: 25px;
        font-family: "Special Elite", system-ui;
        font-weight: 400;
        font-style: normal;
    }
}

/* FOOTER */

footer{
position:fixed;
bottom: 0;
width: 100%;
}

.container{
width: 100%;
}

.footer-cta .row {
    display: flex;
    flex-wrap: nowrap; /* Empêche le retour à la ligne */
    gap: 2rem; /* Espace entre chaque colonne */
}

.footer-cta .col {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center; /* Aligne les icônes et le texte verticalement */
    justify-content: center;
}

.footer-cta i {
    font-size: 1.5rem;
    color: #fffbfb;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: middle; /* Assure que les icônes restent au même niveau */
}

.footer-cta span {
    font-size: 1rem;
    color: #d1d0d0;
    display: inline-block;
    vertical-align: middle; /* Assure que le texte reste aligné avec les icônes */
    line-height: 1.2; /* Ajuste l'espacement vertical si nécessaire */
}

.footer-section {
    background: #7b0e0e9b;
    position: relative;
    text-align: center;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: rgba(228, 28, 61, 0.427);
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #f3ecec;
    font-size: 15px;
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Espacement entre les colonnes */
    align-items: flex-start; /* Aligne en haut */
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #f1eeee;
    line-height: 28px;
}

.footer-social-icon {
    display: flex; /* Pour aligner les icônes horizontalement */
    align-items: center; /* Pour centrer verticalement les icônes */
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
    transition: none; /* Retire la transition pour éviter les changements de couleur au survol */
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}


.footer-social-icon i {
    font-size: 2rem; /* Taille des icônes */
    margin-right: 8px; /* Moins d'espace entre les icônes */
    transition: transform 0.3s, color 0.3s;
}

.facebook-icon {
    color: #3b5998; /* Couleur de Facebook */
}

.instagram-icon {
    color: #e4405f; /* Couleur d'Instagram */
}

.footer-social-icon a:hover i {
    transform: scale(1.2);
}


/* Styles pour les titres des widgets */
.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px; /* Marge ajustée pour plus d'espace au-dessus des liens */
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: rgba(228, 28, 61, 0.427);
}

/* Styles pour les liens utiles */
.footer-links ul {
    padding: 0;
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}
.footer-links ul li {
    margin-bottom: 12px; /* Ajoute une marge inférieure pour séparer les éléments */
}

.footer-links ul li a {
    color: #878787;
    text-transform: capitalize;
}

.footer-links ul li a:hover {
    color: #ffffff;
}

/* Styles pour le formulaire de souscription */
.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: rgba(228, 28, 61, 0.427);
    padding: 13px 20px;
    border: 1px solid #2f8193;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

/* Styles pour la zone de copyright */
.copyright-area {
    background: #202020;
    padding: 40px 0;
    margin-bottom: -30px;
    padding-top: 10px;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: beige;
}

/* Styles pour le menu du footer */
.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}


.footer-menu li a {
    font-size: 14px;
    color: #878787;
}
/* END FOOTER */

.footer-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* COOKIES */
#cookie-banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(228, 28, 61, 0.427);
    color: #fff;
    padding: 10px;
    text-align: center;

  }

  #cookie-banner p {
    margin: 0 0 10px;
  }

  #cookie-banner button {
    margin: 5px;
    cursor: pointer;
    background: #fff;
    color: #0b69dc;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
  }

  /* FIN COOKIES */
  
  .card-link {
    text-decoration: none; /* Pour supprimer la décoration par défaut du lien */
    display: block; /* Pour que le lien prenne toute la taille de la carte */
  }
  .card-link:hover {
    opacity: 0.8; /* Un effet de survol */
  }
  