/* Général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Évite les débordements horizontaux */
    overflow-y: auto;   /* Active le défilement vertical uniquement si nécessaire */
    scroll-behavior: smooth; /* présentation auteur */

}


body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('images/fondbleu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
.fond-text{
    background-color: #1E3A5F !important;
    color: white; /* Le texte en blanc ressort bien sur un fond foncé */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce pour un effet 3D */
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 2.5em;
    font-weight: 700;
    color: #34495e;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 10px;
    margin: 30px 0;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  h1::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffcc00;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  h1:hover {
    color: #ffcc00;
    transform: translateY(-4px);
  }
  
  h1:hover::before {
    transform: scaleX(1);
  }

  h2 {
    font-family: 'Merriweather', serif; /* Police de style journal */
    font-size: 2em;
    font-weight: 700;
    color: #34495e;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 8px;
    margin: 20px 0;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  h2:hover {
    color: #ffcc00; /* Couleur changeante au survol */
    transform: scale(1.05); /* Légère agrandissement pour un effet de "zoom" */
  }
h3{
    color: #ffcc00;
}  
  
/* BANNER BIBLIOTHEQUE HEADER (228, 28, 61, 0.427)*/

header {
    background: linear-gradient(135deg, #003366, #1E3A5F);
}

.logo{
    margin-right: 15px;
}

.background-navbar{
    background-color:  #ffcc00c3;
   
}

#special-header {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* NARBAR */
.navbar {
    height: auto;
}

.text-decoration-custom {
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
}


.nav-brand-logo {
    font-size: 40px;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.nav-item a {
    color: #083b7a;
}

.nav-item a:hover {
    color: #e4e9ed;
}

.nav-item {
    min-width: 12vw;
}

.nav-spacing {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-nav {
    font-family: "Noticia Text", serif;
    font-weight: 700;
    font-style: normal;
}

/* Personnalisation du bouton hamburger */
.navbar-toggler.custom-toggler {
    border-color: transparent; /* Supprime la bordure du bouton */
}

.navbar-toggler.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Change la couleur du hamburger en blanc */
}
/* FIN NARBAR */

/* BANNER VIDEO HEADER*/
#special-header {
    position: relative;
    height: 70vh;
    overflow: hidden;
}


#logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#logo-container img {
    max-width: 280px;
    max-height: auto;
}
/* FIN BANNER VIDEO*/ 
/* Media queries pour les appareils mobiles */
@media (max-width: 768px) {
    .navbar {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-brand {
        font-size: 28px;
        order: 1;
    }

    .navbar-brand {
        text-align: center;
    }

    .navbar-toggler {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        order: 2;
    }

    .navbar-collapse {
        order: 3;
    }


    .nav-item {
        min-width: auto;
        text-align: center;
    }

    .nav-spacing {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-nav {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    #special-header {
        height: 25vh;
    }

    #logo-container img {
        max-width: 20vh;
        padding-top: 30px;
    }


    .nav-brand-logo {
        font-size: 25px;
        font-family: "Special Elite", system-ui;
        font-weight: 400;
        font-style: normal;
    }
}

/* FOOTER */

footer{
position:fixed;
bottom: 0;
width: 100%;
}

.container{
width: 100%;

}

.footer-cta .row {
    display: flex;
    flex-wrap: nowrap; /* Empêche le retour à la ligne */
    gap: 2rem; /* Espace entre chaque colonne */
}

.footer-cta .col {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center; /* Aligne les icônes et le texte verticalement */
    justify-content: center;
}

.footer-cta i {
    font-size: 1.5rem;
    color: #ffcc00;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: middle; /* Assure que les icônes restent au même niveau */
}

.footer-cta span {
    font-size: 1rem;
    color: #d1d0d0;
    display: inline-block;
    vertical-align: middle; /* Assure que le texte reste aligné avec les icônes */
    line-height: 1.2; /* Ajuste l'espacement vertical si nécessaire */
}

.footer-section {
    background: linear-gradient(135deg, #003366, #1E3A5F);
    position: relative;
    text-align: center;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: rgba(228, 28, 61, 0.427);
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #fff;
    font-size: 15px;
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Espacement entre les colonnes */
    align-items: flex-start; /* Aligne en haut */
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #fff;
    line-height: 28px;
}

.footer-social-icon {
    display: flex; /* Pour aligner les icônes horizontalement */
    align-items: center; /* Pour centrer verticalement les icônes */
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
    transition: none; /* Retire la transition pour éviter les changements de couleur au survol */
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}


.footer-social-icon i {
    font-size: 2rem; /* Taille des icônes */
    margin-right: 8px; /* Moins d'espace entre les icônes */
    transition: transform 0.3s, color 0.3s;
}

.facebook-icon {
    color: #3b5998; /* Couleur de Facebook */
}

.instagram-icon {
    color: #e4405f; /* Couleur d'Instagram */
}

.footer-social-icon a:hover i {
    transform: scale(1.2);
}


/* Styles pour les titres des widgets */
.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px; /* Marge ajustée pour plus d'espace au-dessus des liens */
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: rgba(228, 28, 61, 0.427);
}

/* Styles pour les liens utiles */
.footer-links ul {
    padding: 0;
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}
.footer-links ul li {
    margin-bottom: 12px; /* Ajoute une marge inférieure pour séparer les éléments */
}

.footer-links ul li a {
    color: #fff;
    text-transform: capitalize;
}

.footer-links ul li a:hover {
    color: #ffffff;
}

/* Styles pour le formulaire de souscription */
.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background:#ffcc00;
    padding: 13px 20px;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

/* Styles pour la zone de copyright */
.copyright-area {
    background: #202020;
    padding: 40px 0;
    margin-bottom: -30px;
    padding-top: 10px;
    
}

.copyright-text p {
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: beige;
}

/* Styles pour le menu du footer */
.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}


.footer-menu li a {
    font-size: 14px;
    color: #878787;
}


.footer-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* END FOOTER */

/* COOKIES */
#cookie-banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #003366, #1E3A5F);
    color: #fff;
    padding: 10px;
    text-align: center;

  }

  #cookie-banner p {
    margin: 0 0 10px;
  }

  #cookie-banner button {
    margin: 5px;
    cursor: pointer;
    background: #fff;
    color: #0b69dc;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
  }

  /* FIN COOKIES */

/* NOUVEAUTE CARD*/
.netflix-card {
    background-color: #141414;
    color: white;
    border: none;
    border-radius: 10px;
    width: 14rem; /* Taille réduite */
}
.netflix-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px; /* Réduction de la hauteur de l'image */
    object-fit: cover;
}
.netflix-card .card-body {
    text-align: center;
    padding: 0.75rem; /* Réduction du padding */
}
.netflix-card .card-title {
    font-size: 1rem; /* Taille du titre réduite */
}
.netflix-card .card-text {
    font-size: 0.9rem; /* Taille du texte réduite */
}
.netflix-card .card-price {
    font-size: 1rem;
    font-weight: bold;
    color: #e50914;
}

/* Style pour le lien et le contenu du livre */
.book-cover {
    width: 100%;
    border-radius: 10px;
}
.book-details {
    text-align: center;
    padding: 10px;
    background-color: #1E3A5F;
    color: white; /* Le texte en blanc ressort bien sur un fond foncé */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce pour un effet 3D */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* FIN NOUVEAUTE CARD*/

/* lIVRES PROMO*/
.book-price del {
    color: #ffcc00; /* Mettre le prix barré en blanc */
    text-decoration: line-through; /* S'assurer que le texte est barré */
    margin-right: 10px; /* Espacement entre l'ancien prix et le nouveau prix */
}

.book-price .new-price {
    font-weight: bold; /* Mettre en gras le nouveau prix */
    color: #28a745; /* Couleur verte pour le prix promotionnel */
    font-size: 1.2em; /* Augmenter la taille du texte */
    animation: blink 3s infinite; /* Appliquer l'animation de clignotement plus lent */
}

/* Définition de l'animation de clignotement */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*FIN LIVRES PROMO*/

/*CARD L*/
/* SQUELETTE CART XL*/
.book-card a:hover, /* Cible tous les liens dans les cartes au survol */
.book-card a {
    text-decoration: none; /* Désactive la décoration de texte (comme un soulignement) */
}
/* Cibler tous les liens dans les cartes, y compris au survol */
.card a,  /* Remplacez '.card' par toute autre classe de carte spécifique si nécessaire */
.card a:hover {
    text-decoration: none; /* Désactive le soulignement ou autres décorations */
}


  .book-carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    
}

.book-carousel {
    display: flex;
    transition: transform 0.3s ease;
}

.book-group {
    display: flex;
    gap: 15px;
    min-width: 100%;
    justify-content: flex-start;
}

.book-card {
    background-color: #222;
    border-radius: 8px;
    overflow: hidden;
    min-width: 200px;
    max-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-cover {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: contain;
}

.book-details {
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.book-author {
    font-size: 16px;
    font-weight: bold;
    color: #ffcc00;
    margin-bottom: 15px;
}

.book-description {
    font-size: 14px;
    color: #bbb;
    line-height: 1.5;
    margin-bottom: 5px;
}

.book-price {
    font-size: 16px;
    font-weight: bold;
    color: #ffcc00;
    margin-top: 15px;
}

.carousel-navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.carousel-navigation button {
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.carousel-navigation button:hover {
    background-color: #f39c12;
}

.book-group:nth-child(2) {
    display: none; /* Hide Group 2 initially */
}

/* Conteneur des cartes */
.xl-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;
  }
  
  /* Style de base des cartes */
  .xl-card {
    width: 200px;
    background-color: #1E3A5F;
    color: white; /* Le texte en blanc ressort bien sur un fond foncé */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce pour un effet 3D */
    border: 1px solid #333; /* Bordure gris foncé */
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2); /* Ombre légère blanche */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation pour l'effet au survol */
  }
  
  /* Effet de mise en avant au survol de la carte */
  .xl-card:hover {
    transform: scale(1.05); /* Agrandissement de la carte de 5% */
    box-shadow: 4px 4px 15px rgba(255, 255, 255, 0.3); /* Ombre plus marquée */
    cursor: pointer; /* Change le curseur pour indiquer l'interactivité */
  }

  
  /* Style des images dans les cartes */
  .xl-card img {
    width: 100%;
    height: auto;
  }
  
  /* Contenu de la carte */
  .xl-card-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #fff; /* Texte blanc pour le contenu */
  }
  
  /* Titre du livre */
  .xl-card-title {
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* Titre en blanc */
    text-align: center; /* Centre le titre */
  }
  
  /* Auteur du livre */
  .xl-card-author {
    font-size: 14px;
    color: #ccc; /* Auteur en gris clair */
    text-align: center; /* Centre l'auteur */
  }
  
  /* Description du livre */
  .xl-card-description {
    font-size: 12px;
    color: #eee; /* Description en blanc cassé */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limite la description à 3 lignes */
    -webkit-box-orient: vertical;
    text-align: center; /* Centre la description */
  }
  
  /* Prix du livre */
  .xl-card-price {
    font-size: 16px;
    font-weight: bold;
    color: #ffcc00; /* Prix en jaune */
    margin-top: 10px;
    text-align: center; /* Centre le prix */
  }
  
  /* Cacher les groupes de cartes */
  .xl-hidden {
    display: none;
  }
  
  /* Style de la navigation entre les groupes de cartes */
  .xl-navigation {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacement entre les boutons */
    margin-top: 20px; /* Espace entre les boutons et les cartes */
  }
  
  /* Style des boutons de navigation */
  .xl-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ffcc00; /* Boutons jaunes */
    color: rgb(6, 6, 6);
  }
  
  .xl-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Désactive le soulignement et le contour bleu des liens dans les cartes */
  .xl-card a, /* Cible tous les liens dans les cartes */
  .xl-card a:hover { /* Cible les liens dans les cartes au survol */
    text-decoration: none; /* Enlève le soulignement */
    outline: none; /* Enlève le contour bleu au focus */
    color: inherit; /* Hérite la couleur du texte du parent */
  }
  
  /* Cibler également les boutons au focus pour éviter le contour bleu */
  .xl-button:focus {
    outline: none; /* Enlève le contour bleu sur les boutons au focus */
  }
  
/*ZOOM CARTE NOUVEAUTE ET PROMO*/
/* Définir une transition douce pour la carte entière */
.card {
    transition: transform 0.3s ease; /* Transition pour l'effet de zoom */
    overflow: hidden; /* Empêche le contenu de dépasser la carte */
}

/* Appliquer le zoom sur la carte entière au survol */
.card:hover {
    transform: scale(1.05); /* Zoom à 5% */
}
/*FIN ZOOM CARTE NOUVEAUTE ET PROMO*/

/* Conteneur des cartes */
.xl-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;
  }
  
  /* Style de base des cartes */
  .xl-card {
    width: 200px;
    background-color: #1E3A5F;
    color: white; /* Le texte en blanc ressort bien sur un fond foncé */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce pour un effet 3D */
    border: 1px solid #333; /* Bordure gris foncé */
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2); /* Ombre légère blanche */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation pour l'effet au survol */
  }
  
  /* Effet de mise en avant au survol de la carte */
  .xl-card:hover {
    transform: scale(1.05); /* Agrandissement de la carte de 5% */
    box-shadow: 4px 4px 15px rgba(255, 255, 255, 0.3); /* Ombre plus marquée */
    cursor: pointer; /* Change le curseur pour indiquer l'interactivité */
  }
  
  /* Style des images dans les cartes */
  .xl-card img {
    width: 100%;
    height: auto;
  }
  
  /* Contenu de la carte */
  .xl-card-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #fff; /* Texte blanc pour le contenu */
  }
  
  /* Titre du livre */
  .xl-card-title {
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* Titre en blanc */
    text-align: center; /* Centre le titre */
  }
  
  /* Auteur du livre */
  .xl-card-author {
    font-size: 14px;
    color: #ccc; /* Auteur en gris clair */
    text-align: center; /* Centre l'auteur */
  }
  
  /* Description du livre */
  .xl-card-description {
    font-size: 12px;
    color: #eee; /* Description en blanc cassé */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limite la description à 3 lignes */
    -webkit-box-orient: vertical;
    text-align: center; /* Centre la description */
  }
  
  /* Prix du livre */
  .xl-card-price {
    font-size: 16px;
    font-weight: bold;
    color: #ffcc00; /* Prix en jaune */
    margin-top: 10px;
    text-align: center; /* Centre le prix */
  }
  
  /* Cacher les groupes de cartes */
  .xl-hidden {
    display: none;
  }
  
  /* Style de la navigation entre les groupes de cartes */
  .xl-navigation {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacement entre les boutons */
    margin-top: 20px; /* Espace entre les boutons et les cartes */
  }
  
  /* Style des boutons de navigation */
  .xl-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ffcc00; /* Boutons jaunes */
    color: rgb(6, 6, 6);
  }
  
  .xl-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Désactive le soulignement et le contour bleu des liens dans les cartes */
  .xl-card a, /* Cible tous les liens dans les cartes */
  .xl-card a:hover { /* Cible les liens dans les cartes au survol */
    text-decoration: none; /* Enlève le soulignement */
    outline: none; /* Enlève le contour bleu au focus */
    color: inherit; /* Hérite la couleur du texte du parent */
  }
  
  /* FIN SQUELETTE CARTE XL*/
  
/*CARD XL*/
/* SQUELETTE CART XL*/
.book-card a:hover, /* Cible tous les liens dans les cartes au survol */
.book-card a {
    text-decoration: none; /* Désactive la décoration de texte (comme un soulignement) */
}
/* Cibler tous les liens dans les cartes, y compris au survol */
.card a,  /* Remplacez '.card' par toute autre classe de carte spécifique si nécessaire */
.card a:hover {
    text-decoration: none; /* Désactive le soulignement ou autres décorations */
}


  .book-carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    
}

.book-carousel {
    display: flex;
    transition: transform 0.3s ease;
}

.book-group {
    display: flex;
    gap: 15px;
    min-width: 100%;
    justify-content: flex-start;
}

.book-card {
    background-color: #222;
    border-radius: 8px;
    overflow: hidden;
    min-width: 200px;
    max-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-cover {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: contain;
}

.book-details {
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.book-author {
    font-size: 16px;
    font-weight: bold;
    color: #ffcc00;
    margin-bottom: 15px;
}

.book-description {
    font-size: 14px;
    color: #bbb;
    line-height: 1.5;
    margin-bottom: 5px;
}

.book-price {
    font-size: 16px;
    font-weight: bold;
    color: #ffcc00;
    margin-top: 15px;
}

.carousel-navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.carousel-navigation button {
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.carousel-navigation button:hover {
    background-color: #f39c12;
}

.book-group:nth-child(2) {
    display: none; /* Hide Group 2 initially */
}
/* FIN SQUELETTE CARTE XL*/
/*FIN ZOOM CARTE NOUVEAUTE ET PROMO*/


@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Tilt+Neon&display=swap");

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/*Animation photo auteurs index*/

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
} */

.imgAuteurIndex {
  width: 100%;
  pointer-events: none;
  user-select: none;
}

/* SECTION - HOME */

.home {
  display: grid;
  grid-template-columns: 45% 50%;
  place-items: center;
  gap: 50px;
  background: rgb(67, 80, 112);
  background: radial-gradient(
    circle,
    rgba(67, 69, 112, 1) 3%,
    #1E3A5F 60%
  );
  overflow: hidden;
  padding: 130px 80px;
}

.description {
  color: #fff;
  padding: 0 50px;
}

.description h1 {
  font-family: "Tilt Neon", sans-serif;
  font-size: clamp(3rem, 5vw, 4rem);
  line-height: 1.1;
  margin-bottom: 30px;
}

colorLogoIndex.{}


.gradient-text {
  font-family: "Tilt Neon", sans-serif;
  background-image: linear-gradient(
    90deg,
    rgb(63, 89, 167) 0%,
    rgb(51, 143, 118) 40%,
    rgb(55, 141, 167) 50%,
    rgb(117, 152, 242) 70%,
    rgb(144, 118, 236) 100%
  );
  color: transparent;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
}

.description p {
  font-family: "Nunito", sans-serif;
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  line-height: 1.5;
  margin-bottom: 30px;
}

#form {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

input {
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  background-color: transparent;
  outline: transparent;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-right: 10px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

input::placeholder {
  color: rgb(117, 152, 242);
  opacity: 0.5;
  font-weight: 500;
}

input[type="email"] {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 1rem;
}

input[type="email"]:focus {
  border: transparent;
  outline: 2px dotted rgb(117, 152, 242);
  outline-offset: -3px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  max-width: max-content;
  background: linear-gradient(
    90deg,
    rgb(118, 167, 63) 0%,
    rgb(51, 143, 118) 40%,
    rgb(55, 141, 167) 50%,
    rgb(117, 152, 242) 70%,
    rgb(144, 118, 236) 100%
  );
  background-size: 200%;
  background-position: left;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0;
  padding: 12px 16px;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5),
    inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn:hover {
  background-position: right;
}

.users-color-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.item {
  max-width: 200px;
  aspect-ratio: 1/1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5),
    inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  animation: fadeIn 0.5s linear 1 forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

.item:nth-child(1) {
  background-color: #67d7e1;
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(2) {
  border-radius: 50% 50% 0 0;
}

.item:nth-child(3) {
  background-color: #6cc164;
  border-radius: 50%;
}

.item:nth-child(4) {
  border-radius: 0 0 0 50%;
}

.item:nth-child(5) {
  border-radius: 0 50% 50% 0;
}

.item:nth-child(6) {
  background-color: #717ca8;
  border-radius: 0 50% 50% 50%;
}

.item:nth-child(7) {
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(8) {
  background-color: #fe7519;
  border-radius: 50% 0 0 50%;
}

.item:nth-child(9) {
  background-color: #f5bec3;
  border-radius: 0 50% 50% 0;
}

.item:nth-child(10) {
  border-radius: 50%;
}

.item:nth-child(11) {
  background-color: #fcd659;
  border-radius: 50% 0 50% 50%;
}

.item:nth-child(12) {
  border-radius: 50% 0 0 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* SECTION - CARD CONTAINER */

 /* PRESENTATION AUTEURS  */
.content {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  padding: 20px;
  background: rgba(104, 104, 104, 0.5);
  user-select: none;
}

.content::before,
.content::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  background: conic-gradient(
    from var(--gradient-angle),
    rgb(109, 186, 22),
    rgb(30, 119, 95),
    rgb(55, 141, 167),
    rgb(59, 91, 174),
    rgb(144, 118, 236),
    rgb(59, 91, 174),
    rgb(55, 141, 167),
    rgb(30, 119, 95),
    rgb(109, 186, 22)
  );
  animation: rotation 8s linear infinite;
}

.content::after {
  filter: blur(30px);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.content img {
  aspect-ratio: 3/2;
  border-radius: 10px;
  grid-row: 1 / 5;
  margin-bottom: 20px;
  user-select: none;
  object-fit: cover;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.content h1 {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  grid-row: 5 / 6;
}

.content p {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  grid-row: 6 / 9;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ece9e6 0%,
    #ffffff 51%,
    #ece9e6 100%
  );
  padding: 8px 12px;
  color: #000;
  box-shadow: 0 0 5px #eee;
  outline: 0;
  font-size: 0.9rem;
  font-weight: 400;
  grid-row: 9 / 10;
  margin: 4px auto 8px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 14px;
}

.control li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #0f87bb, #3b3d8a);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5),
    inset 0px 4px 4px rgba(255, 255, 255, 0.183);
  padding: 12px;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transform: scale(1);
}

.control li::before {
  position: absolute;
  content: "";
  inset: 0;
  background: linear-gradient(to right, #0a94f0, #3b3d8a);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.5s ease-in;
  opacity: 0;
}

.control li:hover::before {
  opacity: 1;
}

@media (max-width: 1215px) {
  .btn {
    font-size: 1rem;
  }
}

@media (max-width: 1015px) {
  .home {
    grid-template-columns: 45% 50%;
    gap: 50px;
    padding: 140px 50px;
  }

  .btn {
    padding: 8px 12px;
  }
}

@media (max-width: 865px) {
  .home {
    grid-template-columns: 45% 50%;
    gap: 60px;
    padding: 130px 70px;
  }
  
  .users-color-container {
    gap: 15px;
  }
}

@media (max-width: 815px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "userscolorcontainer"
      "description";
    gap: 30px;
    padding: 90px 80px 70px;
  }

  .users-color-container {
    grid-area: userscolorcontainer;
    gap: 20px;
  }

  .description {
    grid-area: description;
    padding: 0;
    text-align: center;
  }

  #form {
    justify-content: center;
  }
}


@media (max-width: 460px) {
   .home {
    gap: 0;
    padding: 30px 40px;
  }
  
  #form {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
  }
  
  input[type="email"]:focus {
    outline-offset: 6px;
  }

}
 /* FIN PRESENTATION AUTEURS  */

